* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 200px;
    height: 800px;
    border: 2px solid gray;
    display: flex;
    flex: 1;
    flex-direction: column;
    
}


.tren {
    display: flex;
    flex-direction: column;
    flex: 2;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin-left: 5px;
  
}


.header {
    width: 80%;
  height: 20px;
  border: 2px solid gray;
  margin-bottom: 3px;
  display: flex;
  align-items: center;         
  justify-content: center;     
  
}


.middle, .bottom {
  display: flex;
  flex: 1;
  gap: 10px;
  margin-bottom: 10px;
}

.middle .left, .middle .right,
.bottom .left, .bottom .right {
  flex: 1;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.card {
    border-radius: 20px ;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(red, green, blue, alpha);
    width: calc(25% - 30px);
    margin-left: 30px;
}
.card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.card-content {
    padding: 25px;
}
.card-title {
    font-weight: 500;
    margin-bottom: 25px;
}

.stars {
    position: relative;
    white-space: nowrap;
}
.stars svg {
    width: 60px;
}

.overlay {
    background: #fff;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
}

svg {
    fill: gold;
}


/*calender*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:Wght@100;300;400;500;700;900&display=swap');

:root{
    --dark-body: #403f4b;
    --dark-main: #24232b;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #403f4b;
    --light-main: #24232b;
    --light-second: #79788c;
    --light-hover: #323048;
    --light-text: #f8fbff;

    --blue: #8484ff80;
    --white: #fff;

    --shadow-light: rgba(100, 100, 100, 0.5) 0px 7px 29px 0px;
    --shadow-dark: rgba(255, 255, 255, 0.5) 0px 7px 29px 0px;

}

.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover:var(--dark-hover); 
    --color-text:var(--dark-text);
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover:var(--light-hover); 
    --color-text:var(--light-text);
}
html, body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg-body);
}
.calender {
    height: max-content;
    width: max-content;
    background: var(--bg-main);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.light .calender{
    box-shadow: var(--shadow-light);
}
.dark .calender{
    box-shadow: var(--shadow-dark);
}
.calender-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-text);
    padding: 10px;
}
.calender-body{
    padding: 10px;
}

.calender-week-day{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    height: 50px;
}

.calender-week-day div{
    display: grid;
    place-items: center;
    color: var(--bg-second);
}
 .calender-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-text);
 }

 .calender-days div{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
 }
 .month-picker{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
 }

 .month-picker:hover{
    background-color: var(--color-hover);
 }
 .year-picker{
    display: flex;
    align-items: center;
 }
 .year-change{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
 }
 .year-change:hover{
    background-color: var(--color-hover);
 }
 .calender-footer{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }
 .tongle{
    display: flex;
 }
 .tongle span{
    margin-right: 10px;
    color: var(--color-text);
 }
 .dark-mode-switch{
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
 }
 .dark-mode-switch-ident{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left .2s ease-in-out;
 }
 .dark .dark-mode-switch .dark-mode-switch-ident{
    top: 2px;
    left: calc(2px + 50%);
 }
 .calender-days div span{
    position: absolute;
 }
 .calender-days div:hover span{
    transition: width .2s ease-in-out, height .2s ease-in-out;
 }
 .calender-days div:hover span:nth-child(1)
 .calender-days div:hover span:nth-child(3){
    height: 100%;
 }
.calender-days div span:nth-child(1){
    bottom: 0;
    left: 0;
}
.calender-days div span:nth-child(2)
.calender-days div span:nth-child(4){
    width: 0;
    height: 20px;
    background-color: var(--color-text);
}
.calender-days div:hover span:nth-child(2)
 .calender-days div:hover span:nth-child(4){
    width: 100%;
 }
 .calender-days div span:nth-child(2){
    top: 0;
    left: 0;
 }
 .calender-days div span:nth-child(4){
    bottom: 0;
    right: 0;
 }
 .calender-days div:hover span:nth-child(2){
    transition-delay: 0.2s;
 }
 .calender-days div:hover span:nth-child(3){
    transition-delay: 0.4s;
 }
 .calender-days div:hover span:nth-child(4){
    transition-delay: 0.6s;
 }
 .calender-days div.curr-date{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
 }
 .calender-days div.curr-date span{
    display: none;
 }
 .month-list{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--bg-main);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    transition: scale(1.5);
    visibility: hidden;
    pointer-events: none;
 }
 .month-list.show{
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all .2s ease-in-out;
 }
 .month-list > div {
    display: grid;
    place-items: center;
 }
 .month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
 }
 .month-list > div > div:hover{
    background-color: var(--color-hover);
 }
 @keyframes to-top{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
 }

